.frankSuggestion {
    position: relative;
    border: 1px solid  red;
    display: inline-block;
}

.frankSuggestion-loading {
    display: none;
    position: absolute;
    top:100%;
    left: 0;
}

.frankSuggestion.loading .frankSuggestion-loading {
    display: block;
}

.frankSuggestion-list {
    position: absolute;
    border: 1px solid green;
    left: 0;
    margin: 0;
    top: 100%;
    padding: 0;
    list-style-type: none;
    width: 100%;
}

.frankSuggestion.empty .frankSuggestion-empty{
    display: block;
}

.frankSuggestion-empty {
    display: none;
}